* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0f0f0f;
    --primary-text-color: #f4f4f4;
    --bg-button-color: #1a1a1a;
    --bg-task-color:#7373d3;
    --bg-delete-button-color:#eb1717;

    /* padding */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* Border radius */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

    /* Margin  */
    --margin-s: 5px;
    --margin-m: 10px;
    --margin-l: 15px;
    --margin-xl: 20px;
    --margin-xxl: 30px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--primary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: val(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}
section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--padding-xxl);
    /* flex-wrap: wrap; */
}


section .task-column {
    /* width: 100%; */
    background: #000;
    flex-grow: 1;
    border: 2px solid red;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius: var(--border-radius-l);
    transition: all 0.7 cubic-bezier(0.19,1, 0.22, 1);
}
section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.02;
}

section .task-column .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: var(--padding-l); */
}
/* @media screen and (max-width: 768px) {
    section {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 769px) {
    section {
        flex-wrap: nowrap;
    }
} */
section .task-column .task{
    background-color:var(--bg-task-color);
    padding: var(--padding-l);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grabbing;
}

section .task-column .task button{
    align-self: flex-end;
    cursor: pointer;padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    background-color: var(--bg-delete-button-color);
}